* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	font-family: 'Helvetica';
	background-color: rgb(36, 35, 41);
	color: white;
}

#editor-output-split {
	display: flex;
	resize: vertical;
	overflow: auto;
	border-bottom: groove 2px gray;
	height: 80%;
}

#editor {
	--font-size: 16pt;
	--font-family: 'Consolas';
	--font-weight: 500;
	--line-height: 1.15;

	display: flex;
	width: 75%;
	resize: horizontal;
	overflow-x: auto;
	overflow-y: hidden;

	font: var(--font-weight) var(--font-size) var(--font-family);
	line-height: var(--line-height);
	background-color: rgb(39, 40, 34);
}

#editor-stack {
	position: relative;
	flex-grow: 1;	
	height: 100%;
}

#pre-code {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	line-height: var(--line-height);
}

#code {
	white-space: pre-wrap;
	font: var(--font-weight) var(--font-size) var(--font-family);
	line-height: var(--line-height);
}

#line-numbers {
	flex-shrink: 0;
	overflow: hidden;
	padding: 0 1rem 0 0;
	text-align: right;
	color: gray;
}

#text-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	border: none;
	margin: 0;
	padding: 0;
	outline: none;
	resize: none;

	font: var(--font-weight) var(--font-size) var(--font-family);
	line-height: var(--line-height);
	tab-size: 4;
	white-space: pre-wrap;

	background: none;
	color: transparent;
	caret-color: white;
}

textarea {
	color: white;
}

textarea:focus {
	outline: none;
}

#output-panel {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
	background: rgba(62, 61, 51);
}

#assembly {
	width: 100%;
	flex-grow: 1;
	resize: none;
	background: rgba(62, 61, 51);
}

#info {
	flex-grow: 1;
	padding: 0.5rem;
	font: 12pt monospace;
	background-color: rgb(40, 40, 31);
}

#info p {
	margin: 0;
	white-space: pre;
}

nav {
	vertical-align: top;
}

nav a {
	color: lightblue;
}

button {
	margin: 2px;
	padding: 4px 8px;
	border: none;
	font: 13pt 'Helvetica';
	background-color: rgb(65, 67, 58);
	color: white;
}

button:active {
	background-color: rgb(40, 40, 31);
}

select {
	padding: 4px 8px;
	border: none;
	font: 13pt 'Helvetica';
	background-color: rgb(65, 67, 58);
	color: white;
}

nav span {
	float: right;
	margin: .5rem 1rem 0 0;
	font: 13pt 'Helvetica';
	font-style: italic;
}